@import url('https://fonts.googleapis.com/css?family=Quicksand:500|Roboto:400,500');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Quicksand', Helvetica;
}

.menu {
  grid-area: menu;
  height: 80px;
  background: white;
  display: flex;
}

.menu__container {
  margin: auto;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__icon {
  color: white;
  font-size: 2em;
}

@media screen and (min-width: 600px) {
  .menu__icon {
    display: none;
  }
}

.menu__logo {
  height: 40px;
  width: auto;
}

.menu__list {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .menu__list {
    display: inline-flex;
  }
}

.menu__item {
  list-style: none;
  margin: 0 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__button {
  background-color: #f970ae;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu__button:hover {
  background-color: #ff85c1;
}
.fixed {
  position: fixed;
  width: 100%;
  height: 80px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 600px) {
  .fixed {
    position: fixed;
    width: 80%;
  }
}

.menu__link {
    text-decoration: none;
    color: inherit;
    color: #f970ae;
}

.back-to-help a {
  color: #f970ae; 
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  margin-left: 275px;
  margin-right: 275px;
}

.back-to-help a:hover {
  font-weight: bold;
}

.help-topic {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    margin-left: 275px;
    margin-right: 275px;
}

.help-content {
    font-size: 16px;
    line-height: 1.6;
    margin-left: 275px;
    margin-right: 275px;
}

.help-topic,
.help-content {
    margin-bottom: 20px;
}

.footer {
  grid-area: footer;
  background: #f970ae;
  text-align: left;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__column {
  flex: 1 1 200px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.footer__column strong {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.footer__column ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
  color: white;
}

.footer__column ul li {
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

