@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .5s;
}

body {
  font-family: 'Quicksand', Helvetica;
  background-image: linear-gradient(135deg, #F97794 10%, #623AA2 100%);
}

body::-webkit-scrollbar {
  width: 0px;
  /* background: #F97794; */
}

.wrap {
  margin-top: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "menu menu" "main main" "services services" "spotlight spotlight" "slide slide" "banner banner" "footer footer";
}

@media screen and (min-width: 600px) {
  .wrap {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 5px;
    overflow: hidden;
    grid-template-rows: 80px auto 400px 300px 400px 200px 100px;
    grid-template-columns: 1fr repeat(2, 4fr) 1fr;
    grid-template-areas: ". menu menu ." ". main main ." ". services services ." ". spotlight spotlight ." ". slide slide ." ". banner banner ." ". footer footer .";
  }

}

.menu {
  grid-area: menu;
  height: 80px;
  background: white;
  display: flex;
}

.menu__container {
  margin: auto;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__icon {
  color: white;
  font-size: 2em;
}

@media screen and (min-width: 600px) {
  .menu__icon {
    display: none;
  }
}

.menu__logo {
  height: 60px;
  width: auto;
}

.menu__list {
  display: flex; /* Garante que os itens da lista sejam flexíveis */
  align-items: center; /* Alinha verticalmente os itens no centro */
}

@media screen and (min-width: 600px) {
  .menu__list {
    display: inline-flex;
  }
}

.menu__item {
  list-style: none; /* Remove a lista padrão */
  margin: 0 10px; /* Espaçamento entre os itens */
  display: flex; /* Garante que os itens sejam flexíveis */
  align-items: center; /* Alinha verticalmente no centro */
  text-decoration: none;
}

.menu__link {
    text-decoration: none;
    color: inherit;
}
.footer {
  grid-area: footer;
  background: #F241C3;
  text-align: left;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens façam wrap se necessário */
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__column {
  flex: 1 1 200px; /* Garante que as colunas sejam flexíveis e tenham um tamanho mínimo */
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.footer__column strong {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.footer__column ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
  color: white;
}

.footer__column ul li {
  margin-bottom: 10px; /* Aumenta o espaçamento entre os itens */
  font-size: 10px;
  text-decoration: none;
  color: white;
}

.menu__button {
  background-color: #F272D0; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  padding: 5px 10px; /* Reduzido o espaçamento interno 
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove sublinhado */
  display: inline-block; /* Display inline block */
  font-size: 14px; /* Tamanho da fonte menor */
  margin: 4px 2px; /* Margem */
  cursor: pointer; /* Cursor de ponteiro */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave para mudanças de cor de fundo */
}

.menu__button:hover {
  background-color: #F241C3; /* Cor de fundo ao passar o mouse */
}


.fixed {
  position: fixed;
  width: 100%;
  height: 80px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 600px) {
  .fixed {
    position: fixed;
    width: 80%;
  }
}

.services {
  padding: 1em;
  display: block;
  text-align: center;
  grid-area: services;
  background: linear-gradient(135deg, #f3f3f3 10%, #fff6f6 100%);
}

.services ul {
  display: flex;
  justify-content: center; /* Alinha os itens horizontalmente ao centro */
  flex-wrap: wrap;
}

.services ul li {
  margin: 1em;
  list-style: none;
  text-align: center; /* Alinha o conteúdo do item ao centro */
}

.services img {
  width: 185px;
  height: 185px;
  margin-right: 110px; 
  align-items: center;
}

.services h4 {
  margin-top: 0;
  font-size: 14px;
  margin-right: 110px;
}

.main {
  padding-top: 3em;
  padding-bottom: 3em;
  grid-area: main;
  background: url(./img/Fundo.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  height: auto;
}

.main__center {
  margin: auto;
  width: 80%;
  height: 60%;
  min-height: 250px;
  max-width: 800px;
  padding: 1em;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main__center h1 {
  font-size: 50px;
  text-align: left;
}

.main__title,
.main__description {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1em;
}

.main__description {
  font-size: 3vmin;
  padding-bottom: 1em;
}

.spotlight {
  grid-area: spotlight;
  background: white;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
}

.spotlight__left {
  height: 250px;
  min-height: 100%;
  grid-row: 2 / 3;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
}

.spotlight__left p {
  padding: 1em;
}

.spotlight__left button {
  color: black;
  margin-top: .5em;
  padding: 1em;
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(135deg, #F299DA 10%, #F272D0 100%);
}

@media screen and (min-width: 600px) {
  .spotlight__left {
    grid-column: span 1;
    grid-row: span 2;
  }
}

.spotlight__right {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two images per row */
  align-items: center; /* Center the images vertically within their cells */
  justify-items: center; /* Center the images horizontally within their cells */
  margin-right: 0.4em; 
  margin-left: 0.5em; 
}

.spotlight__right img {
  width: 165px;
  height: 165px;
}

@media screen and (min-width: 600px) {
  .spotlight__left {
      grid-column: span 1;
      grid-row: span 2;
  }
  .spotlight__right {
      grid-column: span 1;
      grid-row: span 2;
  }

}

.slide {
  padding: 2.5em;
  grid-area: slide;
  background: linear-gradient(135deg, #f3f3f3 10%, #fff6f6 100%);
  display: flex;
  justify-content: center; /* Alinha todo o conteúdo ao centro horizontalmente */
  align-items: flex-start; /* Alinha o conteúdo ao topo */
  flex-direction: column;
}

.slide__thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha o texto e a grade de imagens ao centro */
  text-align: left; /* Alinha o texto à esquerda */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two images per row */
  grid-template-rows: 1fr 1fr;
  align-items: center; /* Center the images vertically within their cells */
  justify-items: center; /* Center the images horizontally within their cells */
  margin-right: 35em; 
  margin-left: 35em; 
}

.grid-container img {
  width: 180px;
  height: 180px;
}

.slide__description {
  color: white;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}


.banner {
  height: 200px;
  grid-area: banner;
  background: white;
  display: flex; /* Utiliza flexbox para centralizar conteúdo */
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
}


.banner p {
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
}

.more-info-link{
  color: #F241C3;
  text-decoration: none;
  font-weight: bold;
}

.more-info-link:hover{
  text-decoration: underline;
  text-align: center;
}

.footer {
  grid-area: footer;
  background: #F241C3;
  text-align: left;
  color: white;
  padding: 0px 20px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__column {
  flex: 1;
  margin-right: 20px;
}

.footer__column strong {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}

.footer__column ul {
  list-style: none;
  padding: 0;
}

.footer__column ul li {
  margin-bottom: 5px;
  font-size: 10px;
}


.pesquisa {
  box-sizing: border-box;
  width: 650px; /* Largura da barra de pesquisa */
  height: 45px;
  border-radius: 20px;
  border: 3px solid #F241C3;
  box-shadow: inset 5px 5px 10px #F241C3;
  background: #F272D0;
  display: flex; /* Alinha os itens horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
  padding: 0 10px; /* Espaçamento interno horizontal */
  float: right; /* Alinha a barra de pesquisa à direita */
  margin-top: 10px; /* Espaço acima da barra de pesquisa */
}

.info-button {
  height: 42px;
  border: none; /* Remove a borda padrão do botão */
  background: none; /* Remove o fundo padrão do botão */
  color: black;
  font-size: 14px;
  margin-right: 80px; /* Espaçamento entre os botões */
  cursor: pointer;
  display: inline-block; /* Garante que os botões fiquem em linha */
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-left: auto; /* Empurra a imagem para o final da barra de pesquisa */
}

.pesquisa img {
  cursor: pointer;
}

.pesquisa button:focus {
  outline: none;
}




